.color-red {
  color: red;
}


.nghiem-axbyc {
  font-size: 16px;
  margin: 4px 0;
}

#baigiai-axbyc {
  display: none;
  color: blue;
  margin: 2px 20px 10px 20px;
} 

#error-message-axbyc {
  display: none;
  color: red;
  padding: 2px 20px;
}

#btnXemBaiGiai-axbyc {
  display: none;
  cursor: pointer;
  outline: none;
}

#debai-axbyc {
  display: none;
  color: blue;
}
  