<template id="maytinh_template">
  <div id="maytinh">
    <div id="maytinhheader">
      <label id="hideToggle" class="custom-check"><input type="checkbox" name="onOff"><i></i><span></span></label>
      <div class="tooltip">
        <i id="ghim" class="fa fa-thumb-tack ghimChecked"></i>
        <span id="tooltiptext-ghim" class="tooltiptext">Bỏ ghim</span>
      </div>
    </div>
    <div id="maytinh-content" class="animated">
      <div id="redips-drag">
        
      </div>
      <div id="btnShowXemThem">
        <i class="fa fa-chevron-up" aria-hidden="true"></i>
      </div>
      <div id="main" role="main">
  
      </div>
    </div>
  </div>
</template>
