.color-red {
  color: red;
}


.nghiem-bac1 {
  margin: 4px 0;
} 

#debai-bac1 {
  color: blue;
} 

#error-message-bac1 {
  display: none;
  color: red;
  padding: 2px 20px;
}

#btnXemBaiGiai-bac1 {
    display: none;
    cursor: pointer;
    outline: none;
}

#baigiai-bac1 {
  display: none;
  margin: 2px 20px 10px 20px;
  color: blue;
}
  